/* 版心 */
.wrap {
    margin: 0 auto;
    max-width: 1224px;
}

/* =========== Header區塊 =========== */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

/* 頂部導覽 */
.nav-top {
    background-color: var(--primary-color);
}

.nav-top .wrap {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.nav-action-group {
    display: flex;
}

/* 漢堡按鈕 */

#hamburger-checkbox {
    display: none;
}

.hamburger-btn {
    cursor: pointer;
    position: relative;
    display: none;
    width: 60px;
}

.hamburger-btn span {
    font-size: 0;
}

.hamburger-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 22px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 6px 0px #FFF,
        0px -6px 0px #FFF;
}

/* 遮罩層 */
.overlay {
    display: none;
    /* 預設不顯示 */
    position: fixed;
    top: 48px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    /* 半透明背景 */
    z-index: 8;
    /* 確保在其他內容之上 */
}


/* 搜尋按鈕 */
.nav-top .search a {
    display: block;
    width: 60px;
    text-align: center;
}

.nav-top .icon-search {
    line-height: 48px;
}

.nav-top .search a:hover,
.user-info:hover,
.cart-amount:hover,
.hamburger-btn:hover {
    background-color: var(--secondary-color-1);
}

/* 會員登入&購物車狀態 */

.user-status,
.user-status .cart-amount {
    display: flex;
}

.user-info,
.cart-amount {
    font-weight: 600;
    color: #FFF;
    font-size: 15px;
}

.user-info,
.cart-amount {
    width: 84px;
    line-height: 48px;
    text-align: center;
}

.cart-amount {
    justify-content: center;
}

span.icon-cart {
    margin-right: 8px;
    line-height: 48px;
}

/* logo */

.nav-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-main h1 a.logo {
    margin-top: 71px;
    display: block;
    width: 163px;
    height: 81px;
    font-size: 0;
    background-image: url(../images/logo.png);
}


/* 設定nav字體 */
.nav-list {
    display: flex;
    font-family: 'Gowun Batang', 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

/* 設置導航項目為行內區塊，以便根據內容自動調整大小 */
.nav-item {
    display: inline-block;
    position: relative;
    /* 為子元素提供相對定位參考 */
}


.dropdown-toggle {
    z-index: 2;
    display: block;
    padding-top: 25px;
    width: 153px;
    height: 100px;
    text-align: center;
    position: relative;
}

.dropdown-toggle::after {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--secondary-color-2);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-item.active .dropdown-toggle::after {
    opacity: 1;
}

span {
    display: block;
}

span.subH {
    font-size: 15px;
    line-height: 22px;
    color: var(--secondary-color-1);
    transition: color 0.3s ease;
}

span.mainT {
    font-size: 20px;
    line-height: 29px;
    color: var(--primary-color);
}

.nav-item.active span.subH {
    color: var(--secondary-color-4);
}

/* 選單間的分隔線 */
.nav-divider {
    border-right: 1px solid var(--secondary-color-4);
}

/* 取消最後一個選單分隔線 */
.nav-item:last-child .nav-divider {
    border-right: none;
}


.nav-dropdown {
    position: absolute;
    z-index: 1;
    display: inline-block;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.9s ease, opacity 0.9s ease;
}

.nav-item:hover .nav-dropdown {
    max-height: 500px;
    opacity: 1;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
}

.dropdown-content a {
    padding: 0 36px 0 20px;
    line-height: 50px;
    width: 153px;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--primary-color);
    opacity: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--secondary-color-1);
    color: #FFF;
}

.w-306 {
    width: 306px;
}

.w-153 {
    width: 153px;
}



/* =========== Footer 區塊 =========== */

/* test */
main {
    margin-top: 300px;
    height: 800px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

/* footer網站地圖 */
.footer-map {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-map-section {
    padding: 48px 0;
}

.footer-map-section ul li {
    margin-bottom: 8px;
    line-height: 23px;
}

.footer-map-section ul li a {
    color: #FFF;
    font-weight: 200;
}

.footer-map-section ul li a:hover {
    text-decoration: underline;
}

/* footer版權與社群 */

.footer-divider {
    border-top: 1px solid #FFF;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-info .copyright {
    font-size: 12px;
    color: #FFF;
    line-height: 80px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    /* margin-left: 16px;
    font-size: 30px; */
    margin-left: 16px;
    font-size: 30px;
    color: #FFF;
    /* 預設顏色 */
    transition: color 0.3s ease;
    /* 添加過渡效果 */
}

.social-media a:hover span:before {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

/* =========== RWD 區塊 =========== */

@media(max-width:1224px) {

    /* 漢堡按鈕 */
    .hamburger-btn {
        display: block;
    }

    /* 導覽列 */
    .nav-list {
        position: absolute;
        top: 48px;
        left: -100%;
        width: 80%;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        transition: left 0.8s ease;
        overflow: auto;
        z-index: 9;
    }

    .nav-item:nth-child(n+2) {
        margin-top: -16px; /* 向上移動 16px */
      }

    .dropdown-toggle {
        width: 100%;
        height: 53px;
        padding-top: 0;
    }

    .nav-divider {
        display: flex;
        border-right: 0;
        border-bottom: 1px solid var(--secondary-color-4);
        height: 100%;
        align-items: center;
    }

    .nav-divider span.subH,
    span.mainT {
        flex-grow: 0;
    }

    .nav-divider span.subH {
        padding-left: 32px;
        text-align: left;
        width: 96px;
    }

    .nav-divider span.mainT {
        padding: 0 36px;
    }

    .nav-divider span.arrow {
        flex-grow: 2;
    }

    .nav-dropdown {
        position: relative;
        box-shadow: none;
        height: auto;
        width: 100%;
    }

    .dropdown-content {
        max-height: none;
    }

    .dropdown-content a {
        padding: 0 36px 0 0;
        width: 100%;
    }

    .nav-item:hover .nav-dropdown {
        max-height: none;
    }

    /* LOGO */
    .nav-main h1 a.logo {
        margin: 20px auto;
    }

    .footer-map {
        padding-left: 43px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-map .footer-map-section {
        margin-right: 28px;
    }

    .footer-info {
        margin: 0 24px;
    }
}

@media(max-width:904px) {
    .footer-map {
        padding-top: 32px;
        padding-bottom: 32px;
        justify-content: flex-start;
    }

    .footer-map-section {
        padding: 16px 0;
    }

}

@media(max-width:768px) {
    .footer-map {
        justify-content: flex-start;
    }

    .footer-info {
        flex-direction: column;
    }

    .footer-info .copyright {
        margin: 32px 0;
        line-height: 17px;
    }

    .footer-info .social-media {
        margin-bottom: 24px;
    }

    .footer-info .social-media a {
        margin-left: 0;
        margin-right: 16px;
    }
}